{{#unless aemTask }}
{{> includes/htmltag }}
<head>
	{{> includes/htmlhead.meta }}

	<!-- inject:head:html -->
	<!-- endinject -->

	{{> includes/htmlhead.styles }}
	{{> includes/htmlhead.scripts }}
</head>
<body role="document" class="{{bodyClass}}" style="background:lightcoral">
    <header>HEADER</header>

    <div class="aem-container" style="background:white;width:1000px;margin:0 auto;">
{{/unless}}
        {{~> (lookup . 'contentMain') ~}}
{{#unless aemTask }}
    </div>

	{{> includes/scripts }}
</body>
</html>
{{/unless}}
